In [16]:
#1.SUM OF TWO NUMBERS AND AVERAGE

In [21]:
num1=35.76
num2=56.89
sum=num1+num2
print(sum)
avg=int(num1+num2)/2
print(avg)

92.65
46.0

In [24]:
#2.printing elements less than 15

In [23]:
lista=[67,4,9,78,2,90,10]
for i in lista:
    if(i<15):print(i)

4
9
2
10

In [31]:
#3.printing even or odd or different message

In [32]:
num=10
if(num%2==0):
    if(num%10==0):
        print("num is divisible by 10")
    else:
        print("num is even")
else:
    print("num is odd")

num is divisible by 10

In [50]:
#4.printing sum and product of numbers

In [51]:
a1=400
a2=600
product=a1*a2
sum=a1+a2
if(sum<500):print("sum is",sum)
else:print("sum is ",sum,"product is",product)

sum is  1000 product is 240000

In [53]:
for j in range(4,21):
    print(j+(j-1))

7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39

In [54]:
#above one is task 5

In [55]:
#6.passed letter is vowel or not

In [72]:
letter='p'
listvowels=['a','e','i','o','u']
if(letter in listvowels):print("it is a vowel")
else:print("it is a consonant")

it is a consonant

In [73]:
#7.string displaying even index charecters

In [83]:
s="swetha"
length=len(s)
for val in range(0,length+1):
    if((val+1)%2==0):print(s[val])

w
t
a

In [91]:
#9.list of numbers and print only 10 multiples

In [92]:
numbers=[38,90,45,20,70,68,100]
l=len(numbers)
for val in range(0,l):
    if((numbers[val])%10==0):print(numbers[val])

90
20
70
100

In [93]:
#10.given list of integers. find if first and last are same

In [142]:
lista=[67,98,5,40,92,67]
if(lista[0]==lista[-1]):print("first and last elements are same")
else:print("first and last elements are different")

first and last elements are same

In [98]:
#11.replace all spaces in list with underscore

In [134]:
strb="swetha vemparala"
strrep=strb.replace(" ","_")
print(strrep)

swetha_vemparala

In [126]:
#12.string is palindrome or not

In [215]:
strb="swetha"
l=len(strb)
count=0
listing=list(strb)
listr=listing[::-1]
print(listr)
if(listing==listr):print("palindrome")
else:print("not a palindrome")

['a', 'h', 't', 'e', 'w', 's']
not a palindrome

In [ ]:
#13.fibonicii series

In [75]:
n1=0
n2=1
count=0
num=8
if(num<=0):print("enter positive values")
elif(num==1):print(n1)
else:
    while(count<num):
        print(n1)
        nth=n1+n2
        n1=n2
        n2=nth
        count+=1

0
1
1
2
3
5
8
13

In [244]:
#14.inserting stra in between strb

In [8]:
stra="swetha is a girl"
strb="good"
strc=stra[:12]+strb+" "+stra[12:]
print(strc)

swetha is a good girl

In [9]:
#15.printing pattern

In [14]:
def printpattern(n):
    num=1
    for i in range(0,n):
        num=1
        for j in range(0,i+1):
            print(num,end=" ")
            num=num+1
        print("\r")
n=5
printpattern(n)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [16]:
#16.printing only 25 percent of string

In [17]:
stra="have good food"
l=len(stra)
limit=int(l/4)
for val in range(0,limit):
    print(stra[val])

h
a
v

In [18]:
#17.printing centers of list

In [25]:
lista=[2,8,5,7,6,5,2]
l=int(len(lista))
l1=int(l/2)
l2=int((l-1)/2)
if(l%2==0):print(lista[l1],lista[l2])
else:print(lista[l1])

7

In [26]:
#18.print8ing only common elements betweeen lists without duplicates

In [29]:
lista=[3,7,9,8,5,6]
listb=[3,87,98,6,43,7]
seta=set(lista)
setb=set(listb)
setc=seta&setb
listcn=list(setc)
print(listcn)

[3, 6, 7]

In [30]:
#19.checking leap year or not

In [34]:
num=1759
if(num%4==0):
    if(num%100==0):
        if(num%400==0):
            print("leap year")
        else:
            print("not leap year")
    else:print("leap year")
else:print("not leap year")

not leap year

In [35]:
#20.checking prime or not

In [39]:
num=97
if(num<1):print("prime")
else:
    for i in range(2,num):
        if(num%i==0):
            print("composite")
            break
    else:print("prime")

prime

In [40]:
#21.extracting values from multinested dictionary

In [78]:
d={'cow':'grass','cat':['rat','milk'],'man':['rice','vegetable','hen','water']}
for i,j in d.items():
    print(j)

grass
['rat', 'milk']
['rice', 'vegetable', 'hen', 'water']

In [49]:
#22.count occurence of each list and prepare a dictionary

In [69]:
lista=[2,6,2,6,1,1,1,1,1,5,5,5,7,7,7,7,7,7,7]
def countfreq(lista):
    freq={}
for val in lista:
        freq[val]=lista.count(val)
for i,j in freq.items():
    print(i,':',j)
countfreq(lista)

2 : 2
6 : 2
1 : 5
5 : 3
7 : 7

In [70]:
#23.given list, remove duplicates and prepare tuple find min and max

In [74]:
lista=[3,5,6,7,8,9,2,3,5,6,7,9]
s=set(lista)
t=tuple(s)
print(t)
maximum=max(t)
minimum=min(t)
print(maximum,",",minimum)

(2, 3, 5, 6, 7, 8, 9)
9 , 2

In [ ]:
#24.