In [1]:
import sqlite3

In [2]:
con=sqlite3.connect('chinook.db')

In [3]:
cur=con.cursor()

In [4]:
query="""select name from sqlite_master where type="table" """

In [5]:
cur.execute(query)

In [6]:
cur.fetchall()

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',)]

In [7]:
q="""select * from employees"""

In [8]:
cur.execute(q)

In [27]:
con.close()

In [20]:
import sqlite3

In [21]:
con = sqlite3.connect('chinook.db')

In [22]:
cur = con.cursor()

In [23]:
query = """SELECT name from sqlite_master where type = "table" """

In [24]:
cur.execute(query)

In [26]:
cur.fetchall()

[]

In [1]:
con.close()

NameError: name 'con' is not defined

In [9]:
con.close()

In [10]:
import sqlite3

In [11]:
con=sqlite3.connect('chinook.db')

In [12]:
cur = con.cursor()

In [13]:
query = """SELECT name from sqlite_master where type = "table" """

In [14]:
cur.execute(query)

In [15]:
cur.fetchall()

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',)]

In [16]:
query = "SELECT * FROM employees"

In [17]:
cur.execute(query)

In [18]:
cur.fetchall()

[(1,
  'Adams',
  'Andrew',
  'General Manager',
  None,
  '1962-02-18 00:00:00',
  '2002-08-14 00:00:00',
  '11120 Jasper Ave NW',
  'Edmonton',
  'AB',
  'Canada',
  'T5K 2N1',
  '+1 (780) 428-9482',
  '+1 (780) 428-3457',
  'andrew@chinookcorp.com'),
 (2,
  'Edwards',
  'Nancy',
  'Sales Manager',
  1,
  '1958-12-08 00:00:00',
  '2002-05-01 00:00:00',
  '825 8 Ave SW',
  'Calgary',
  'AB',
  'Canada',
  'T2P 2T3',
  '+1 (403) 262-3443',
  '+1 (403) 262-3322',
  'nancy@chinookcorp.com'),
 (3,
  'Peacock',
  'Jane',
  'Sales Support Agent',
  2,
  '1973-08-29 00:00:00',
  '2002-04-01 00:00:00',
  '1111 6 Ave SW',
  'Calgary',
  'AB',
  'Canada',
  'T2P 5M5',
  '+1 (403) 262-3443',
  '+1 (403) 262-6712',
  'jane@chinookcorp.com'),
 (4,
  'Park',
  'Margaret',
  'Sales Support Agent',
  2,
  '1947-09-19 00:00:00',
  '2003-05-03 00:00:00',
  '683 10 Street SW',
  'Calgary',
  'AB',
  'Canada',
  'T2P 5G3',
  '+1 (403) 263-4423',
  '+1 (403) 263-4289',
  'margaret@chinookcorp.com'),
 (5,
  'Johnson',
  'Steve',
  'Sales Support Agent',
  2,
  '1965-03-03 00:00:00',
  '2003-10-17 00:00:00',
  '7727B 41 Ave',
  'Calgary',
  'AB',
  'Canada',
  'T3B 1Y7',
  '1 (780) 836-9987',
  '1 (780) 836-9543',
  'steve@chinookcorp.com'),
 (6,
  'Mitchell',
  'Michael',
  'IT Manager',
  1,
  '1973-07-01 00:00:00',
  '2003-10-17 00:00:00',
  '5827 Bowness Road NW',
  'Calgary',
  'AB',
  'Canada',
  'T3B 0C5',
  '+1 (403) 246-9887',
  '+1 (403) 246-9899',
  'michael@chinookcorp.com'),
 (7,
  'King',
  'Robert',
  'IT Staff',
  6,
  '1970-05-29 00:00:00',
  '2004-01-02 00:00:00',
  '590 Columbia Boulevard West',
  'Lethbridge',
  'AB',
  'Canada',
  'T1K 5N8',
  '+1 (403) 456-9986',
  '+1 (403) 456-8485',
  'robert@chinookcorp.com'),
 (8,
  'Callahan',
  'Laura',
  'IT Staff',
  6,
  '1968-01-09 00:00:00',
  '2004-03-04 00:00:00',
  '923 7 ST NW',
  'Lethbridge',
  'AB',
  'Canada',
  'T1H 1Y8',
  '+1 (403) 467-3351',
  '+1 (403) 467-8772',
  'laura@chinookcorp.com')]

In [25]:
curb=con.cursor()

In [28]:
con.close()

In [41]:
import sqlite3

In [42]:
con=sqlite3.connect('chinook.db')

In [43]:
curb = con.cursor()

In [44]:
curb.fetchall()

[]

In [45]:
query = "SELECT * FROM employees"

In [46]:
curb.execute(query)

In [47]:
curb.fetchall()

[(1,
  'Adams',
  'Andrew',
  'General Manager',
  None,
  '1962-02-18 00:00:00',
  '2002-08-14 00:00:00',
  '11120 Jasper Ave NW',
  'Edmonton',
  'AB',
  'Canada',
  'T5K 2N1',
  '+1 (780) 428-9482',
  '+1 (780) 428-3457',
  'andrew@chinookcorp.com'),
 (2,
  'Edwards',
  'Nancy',
  'Sales Manager',
  1,
  '1958-12-08 00:00:00',
  '2002-05-01 00:00:00',
  '825 8 Ave SW',
  'Calgary',
  'AB',
  'Canada',
  'T2P 2T3',
  '+1 (403) 262-3443',
  '+1 (403) 262-3322',
  'nancy@chinookcorp.com'),
 (3,
  'Peacock',
  'Jane',
  'Sales Support Agent',
  2,
  '1973-08-29 00:00:00',
  '2002-04-01 00:00:00',
  '1111 6 Ave SW',
  'Calgary',
  'AB',
  'Canada',
  'T2P 5M5',
  '+1 (403) 262-3443',
  '+1 (403) 262-6712',
  'jane@chinookcorp.com'),
 (4,
  'Park',
  'Margaret',
  'Sales Support Agent',
  2,
  '1947-09-19 00:00:00',
  '2003-05-03 00:00:00',
  '683 10 Street SW',
  'Calgary',
  'AB',
  'Canada',
  'T2P 5G3',
  '+1 (403) 263-4423',
  '+1 (403) 263-4289',
  'margaret@chinookcorp.com'),
 (5,
  'Johnson',
  'Steve',
  'Sales Support Agent',
  2,
  '1965-03-03 00:00:00',
  '2003-10-17 00:00:00',
  '7727B 41 Ave',
  'Calgary',
  'AB',
  'Canada',
  'T3B 1Y7',
  '1 (780) 836-9987',
  '1 (780) 836-9543',
  'steve@chinookcorp.com'),
 (6,
  'Mitchell',
  'Michael',
  'IT Manager',
  1,
  '1973-07-01 00:00:00',
  '2003-10-17 00:00:00',
  '5827 Bowness Road NW',
  'Calgary',
  'AB',
  'Canada',
  'T3B 0C5',
  '+1 (403) 246-9887',
  '+1 (403) 246-9899',
  'michael@chinookcorp.com'),
 (7,
  'King',
  'Robert',
  'IT Staff',
  6,
  '1970-05-29 00:00:00',
  '2004-01-02 00:00:00',
  '590 Columbia Boulevard West',
  'Lethbridge',
  'AB',
  'Canada',
  'T1K 5N8',
  '+1 (403) 456-9986',
  '+1 (403) 456-8485',
  'robert@chinookcorp.com'),
 (8,
  'Callahan',
  'Laura',
  'IT Staff',
  6,
  '1968-01-09 00:00:00',
  '2004-03-04 00:00:00',
  '923 7 ST NW',
  'Lethbridge',
  'AB',
  'Canada',
  'T1H 1Y8',
  '+1 (403) 467-3351',
  '+1 (403) 467-8772',
  'laura@chinookcorp.com')]

In [49]:
records = curb.fetchall()
print(len(records))
for record in records:
    print(record)

0

In [50]:
con.close()

In [51]:
import sqlite3

In [52]:
con=sqlite3.connect('sports.db')

In [53]:
curb=con.cursor()

In [54]:
q="create table players(id integer primary key,name text,sport text,\
earn real,country text)"

In [55]:
curb.execute(q)

In [56]:
con.commit()

In [60]:
q="insert into players values(12,'swetha','badminton',47687,'india')"

In [61]:
curb.execute(q)

In [63]:
con.commit()

In [64]:
lista = [16, 'lebron', 'basketball', 408920, 'US']
listb = [20, 'smriti', 'cricket', 12054, 'india']
listc = [18, 'saina', 'badminton', 28230, 'india']

In [65]:
tupa=(lista,listb,listc)

In [66]:
listd = [22, 'ronaldo', 'football', 680234, 'portugal']

In [67]:
q = "INSERT into players (id, name, sport, earn, country) VALUES (?,?,?,?,?)"

In [68]:
curb.execute(q, [14, 'senna', 'foruma1', 346780, 'brazil'])

In [69]:
con.commit()

In [70]:
curb.execute(q,listd)

In [71]:
con.commit()

In [72]:
curb.executemany(q, tupa)
con.commit()